/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

#slide {
    text-align: center;   
}

#slide a {
    text-align: center;
    margin-right: 10px;  
    border: solid black 1px;
    padding: 3px;
    color: black;
}

#slide a:hover {
    text-align: center;
    margin-right: 10px;
    color: #fff;
    background-color: #000;
}

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-size: 16px;
	font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #B8B8B8 ;
	text-align: justify;
	text-rendering:optimizelegibility
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ===================
    ALL: Greyscale Theme
   =================== */

.footer-container {
    background-color: #fff;
	margin: 0 auto;
	width: 100%;
}

.header-container {
    background-color: #fff;	
	margin-bottom: 20px;
}

.main aside {
    background: #fff;
}

.title {
    color: red;
	text-align: center;
	font-family: 'Capriola', sans-serif;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
	margin: auto 0;
	
    margin-bottom: 10px;
    padding: 1px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: blue;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}


.main aside {
    color: #000;
    background-color: #fff;
    padding: 1%	
}

#contact {
	margin-bottom: 5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75)
}

.footer-container footer {
    color: #000;
    padding: 20px 0
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
 .main .rudy {
  background-image: url("../img/rudy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); q 	
}

h1, h2, h3 {
  color: #B8B8B8
}

.main article header {
  background-color: #fff;
  color: #000;
  padding: 4%;
  margin-bottom: 5px;  
 -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.main article header h2, .main article section h2, .below article footer h3 {
	text-shadow: 2px 5px 10px rgba(0, 0, 0, .3);
}

.main article section img {
    max-width:100% !important;
    height:auto;
    display:block;
}

.casephoto img{
    max-width:100% !important;
    height:auto;
    display:block;
}

.main article section {
  background-color: #fff;
  padding: 4%;
  margin-bottom: 5px;
  
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.below article footer {
  color: #000;
  background-color: #fff;
  padding: 4%;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#hours, #location {
	width: 45%;
	margin: 0 auto;
	background-color: #fff;
	font-size: 12px
}

#hours {
	float: right;
}

#location {
	float: left;
	text-align: left
}

#title {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	font-family: 'Georgia', sans-serif;
	background-image: url("../img/pawbrdr.jpg");
    background-repeat: no-repeat;
    background-position: 55% 0%
}


    #google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    #google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

#content-a{
	display: none;
}

#content-c{
	display: none;
}

#content-d{
	display: none;
}

#content-e{
	display: none;
}

#content-f{
	display: none;
}

#content-r{
	display: none;
}

#content-t{
	display: none;
}

.telemetry-photo, .radiology-photo{
	float:right;
	width:29%;
	margin-left: 1%;	
	font-size: 10px;	
	margin-top: 14%
}

.radiology-photo img {
	max-width: 100%;
}

.radiology-photo-big {
	width: 100%
}

.telemetry-photo-big {
	width: 100%
}
#telemetry-text, #radiology-text{
	width:70%;
	float:left;
	font-size: 14px
}

.quest {
	font-style: italic;
	font-weight: bold
}

.dvm {
	font-style: italic;
	font-weight: bold
}

/* ==========================================================================
   Image Gallery
   ========================================================================== */

#slide {
    text-align: center;   
}

#slide a {
    text-align: center;
    margin-right: 10px;  
    border: solid black 1px;
    padding: 3px;
    color: black;
}

#slide a:hover {
    text-align: center;
    margin-right: 10px;
    color: #fff;
    background-color: #000;
}   
   
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




/* ==========================================================================
   Media Queries
   ========================================================================== */
  nav a {
        float: left;
		width: 22%;
        margin: 1px 3px auto;
        margin-bottom: 5px;
		padding: 2px;
		-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75)
    }

/* ====================
    SMALL: Menu
   ==================== */
@media only screen and (max-width: 364px) {
	nav a {
		width: 9%;
		font-size: 10px
	}
	
	.title {
		font-size: 14px
	}
	
	.header-container {
		margin-bottom: 0
	}
	
	.main {
	 padding: 5px 0px
	}
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
#front-img {
	margin: 0 auto;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}






/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }


    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

  

    tr,
    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}
